DATABASE_URL="mongodb+srv://vrishabrayu:Vibhu123@cluster0.ckyba0t.mongodb.net/?appName=Cluster0"
STRIPE_SECRET_KEY="sk_test_your_key_here"
STRIPE_WEBHOOK_SECRET="whsec_your_secret_here"
RESEND_API_KEY="re_your_key_here"
DELIVERY_FROM_EMAIL="FastAccounts <orders@yourdomain.com>"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
ADMIN_PASSWORD="change-this-admin-password"
